In [2]:
import pandas as pd
import re

ct = r"C:\Users\mkreidler\Desktop\35w\apples to apples v2\ctrac.xlsx"
rh = r"C:\Users\mkreidler\Desktop\35w\apples to apples v2\rhino_expanded.xlsx"

ct = pd.read_excel(ct)
rh = pd.read_excel(rh)


rh[["name", "priority_ctrac", "elevation", "swing_drop"]].head()

   name  priority_ctrac elevation swing_drop
0  Q114               1      EAST         E1
1    A3               1      EAST         E1
2   B27               1      EAST         E1
3   8A4               1      EAST         E1
4   B39               1      EAST         E1

In [3]:
rh["pre"] = ""
rh["prior_digit"] = ""
rh["elev_letter"] = ""


def get_digit(x):
    x = str(x)
    if x == "SHIPPED":
        return "Shipped"
    else:
        pat = r"(\d{1,10})"
        result = re.search(pattern=pat, string=x)
        if result:
            return result.group(1)
        
        
def get_letter(x):
    x = str(x)
    return list(x)[0]

rh.prior_digit = rh.priority_ctrac.apply(get_digit)
rh.elev_letter = rh.swing_drop.apply(get_letter)

rh.pre = rh.prior_digit + rh.elev_letter
rh[["name", "priority_ctrac", "elevation", "swing_drop", "pre"]]

rh["cumcount"] = rh.groupby(["pre", "name"]).cumcount() +1


rh["concat"] = "(" + rh.pre + ")" + rh["name"] + "[" + rh["cumcount"].map(str) + "]"

rh.concat
rh = rh[["name", "priority_ctrac", "elevation", "swing_drop", "pre", "concat"]]

rh

       name  priority_ctrac elevation swing_drop  pre         concat
0      Q114               1      EAST         E1   1E    (1E)Q114[1]
1        A3               1      EAST         E1   1E      (1E)A3[1]
2       B27               1      EAST         E1   1E     (1E)B27[1]
3       8A4               1      EAST         E1   1E     (1E)8A4[1]
4       B39               1      EAST         E1   1E     (1E)B39[1]
5      8A3Z               1      EAST         E1   1E    (1E)8A3Z[1]
6      B13A               1      EAST         E1   1E    (1E)B13A[1]
7      B39A               1      EAST         E1   1E    (1E)B39A[1]
8       B13               1      EAST         E1   1E     (1E)B13[1]
9        A3               1      EAST         E1   1E      (1E)A3[2]
10      B13               1      EAST         E1   1E     (1E)B13[2]
11      B27               1      EAST         E1   1E     (1E)B27[2]
12      B13               1      EAST         E1   1E     (1E)B13[3]
13     Q116               1      EAST         E1   1E    (1E)Q116[1]
14      B39               1      EAST         E1   1E     (1E)B39[2]
15      8A3               1      EAST         E1   1E     (1E)8A3[1]
16      B13               1      EAST         E1   1E     (1E)B13[4]
17    Q115A               1      EAST         E1   1E   (1E)Q115A[1]
18     8A4Z               1      EAST         E1   1E    (1E)8A4Z[1]
19      A3A               1      EAST         E1   1E     (1E)A3A[1]
20     B27A               1      EAST         E1   1E    (1E)B27A[1]
21     B39A               1      EAST         E1   1E    (1E)B39A[2]
22      NF1               1      EAST         E1   1E     (1E)NF1[1]
23      S3-               1      EAST         E1   1E     (1E)S3-[1]
24      B27               1      EAST         E1   1E     (1E)B27[3]
25      B12               1      EAST         E1   1E     (1E)B12[1]
26     Q114               1      EAST         E1   1E    (1E)Q114[2]
27     Q114               1      EAST         E1   1E    (1E)Q114[3]
28       B8               1      EAST         E1   1E      (1E)B8[1]
29      B12               1      EAST         E1   1E     (1E)B12[2]
...     ...             ...       ...        ...  ...            ...
2127    9F9              10      WEST         W3  10W    (10W)9F9[1]
2128    9E9              10      WEST         W3  10W    (10W)9E9[1]
2129    B26              10      WEST         W3  10W    (10W)B26[2]
2130    9D9              10      WEST         W3  10W    (10W)9D9[1]
2131    9F7              11      WEST         W3  11W    (11W)9F7[1]
2132    9E7              11      WEST         W3  11W    (11W)9E7[1]
2133   B38A               8      WEST         W3   8W    (8W)B38A[2]
2134    B26              11      WEST         W3  11W    (11W)B26[1]
2135    9D9              11      WEST         W3  11W    (11W)9D9[1]
2136    B25              11      WEST         W3  11W    (11W)B25[1]
2137    B25              11      WEST         W3  11W    (11W)B25[2]
2138    A19              11      WEST         W3  11W    (11W)A19[1]
2139    B38              11      WEST         W3  11W    (11W)B38[1]
2140    B38              11      WEST         W3  11W    (11W)B38[2]
2141    3B6              11      WEST         W3  11W    (11W)3B6[1]
2142    3B7              11      WEST         W3  11W    (11W)3B7[1]
2143    B38              11      WEST         W3  11W    (11W)B38[3]
2144    B38              11      WEST         W3  11W    (11W)B38[4]
2145    A12              11      WEST         W3  11W    (11W)A12[1]
2146    A12              11      WEST         W3  11W    (11W)A12[2]
2147    9C5              11      WEST         W3  11W    (11W)9C5[1]
2148   3C10              11      WEST         W3  11W   (11W)3C10[1]
2149    9C5              11      WEST         W3  11W    (11W)9C5[2]
2150   3C10              11      WEST         W3  11W   (11W)3C10[2]
2151   3C10              11      WEST         W3  11W   (11W)3C10[3]
2152   3C10              11      WEST         W3  11W   (11W)3C10[4]
2153   3B11              11      WEST         W3  11W   (11W)3B11[1]
2154  3C10Z              11      WEST         W3  11W  (11W)3C10Z[1]
2155  3C10A               8      WEST         W3   8W   (8W)3C10A[2]
2156  3B11A              11      WEST         W3  11W  (11W)3B11A[1]

[2157 rows x 6 columns]

In [4]:
ct[["Block ID", "Priority", "UnitQuantity"]]

ct["pre"] = ""

def get_pre(x):
    if x == "SHIPPED":
        return "Shipped"
    else:
        pat = r"(\d{1,10}[a-zA-Z]+)"
        result = re.search(pattern=pat, string=x)
        if result:
            return result.group(1)
        
ct.pre = ct.Priority.apply(get_pre)
        
ct[["Block ID", "Priority", "UnitQuantity", "pre"]]

ct["val"] = 1

ct["cumcount"] = ct.groupby(["pre", "Block ID"]).cumcount() +1

ct[["Block ID", "Priority", "UnitQuantity", "pre", "cumcount"]]

ct["concat"] = "(" + ct.pre + ")" + ct["Block ID"] + "[" + ct["cumcount"].map(str) + "]"


ct = ct[["Block ID", "Priority", "UnitQuantity", "pre", "cumcount", "concat", "Void Status"]]

ct.head()

  Block ID Priority  UnitQuantity pre  cumcount       concat  Void Status
0     8C6A     7W_3             1  7W         1  (7W)8C6A[1]          NaN
1      8C6     7W_3             1  7W         1   (7W)8C6[1]          NaN
2      8C6     7W_3             1  7W         2   (7W)8C6[2]          NaN
3      8C6     7W_3             1  7W         3   (7W)8C6[3]          NaN
4      8C6     7W_3             1  7W         4   (7W)8C6[4]          NaN

In [5]:
merge = rh.merge(ct, on = "concat", how = "outer")

#merge.to_excel(r"C:\Users\mkreidler\Desktop\35w\apples to apples v2\merge.xlsx")

In [6]:
merge2 = rh.merge(ct, on = "concat", how = "left")

m = merge2[merge2["Block ID"].isna()]

m = m[["name", "concat"]]

m["sort"] = ""

def clean(x):
    return ''.join(e for e in x if e.isalnum())

m.sort = m.name.apply(clean)

m = m.sort_values("sort")

#m.to_excel(r"C:\Users\mkreidler\Desktop\35w\apples to apples v2\m.xlsx")

In [7]:
merge3 = rh.merge(ct, on = "concat", how = "inner")

In [8]:
#these are all direct matches

len(merge3)

1808

In [9]:
len(m)

349

In [10]:
c = ct[ct.Priority == "SHIPPED"]

print(len(c))

424

In [11]:
c = c[["Block ID"]]

c["cum_count"] = ""

c.cum_count = c.groupby("Block ID").cumcount() + 1

c["cc"] = c["Block ID"] + "-" + c.cum_count.map(str)

c.head()

    Block ID  cum_count      cc
428     B39A          1  B39A-1
429     B39A          2  B39A-2
430     B39A          3  B39A-3
431     B39A          4  B39A-4
432     B39A          5  B39A-5

In [12]:
pd.options.mode.chained_assignment = None  # default='warn'

m

m = m[["name", "concat"]]

m["cum_count"] = ""

m.cum_count = m.groupby("name").cumcount() + 1

m["cc"] = m.name + "-" + m.cum_count.map(str)

m.head()

       name        concat  cum_count       cc
743     3B9   (13S)3B9[1]          1    3B9-1
2155  3C10A  (8W)3C10A[2]          1  3C10A-1
2026  3C10A  (8W)3C10A[1]          2  3C10A-2
1362   4B1B   (6S)4B1B[2]          1   4B1B-1
1363   4B1B   (6S)4B1B[3]          2   4B1B-2

In [13]:
cleaned = m.merge(c, on="cc", how="left")

ciso = cleaned[cleaned["Block ID"].isna()]

ciso

      name        concat  cum_count_x       cc Block ID  cum_count_y
0      3B9   (13S)3B9[1]            1    3B9-1      NaN          NaN
1    3C10A  (8W)3C10A[2]            1  3C10A-1      NaN          NaN
2    3C10A  (8W)3C10A[1]            2  3C10A-2      NaN          NaN
36    8A2Z   (1E)8A2Z[1]            1   8A2Z-1      NaN          NaN
37    8A2Z   (5S)8A2Z[4]            2   8A2Z-2      NaN          NaN
123   9D1B   (6S)9D1B[2]            1   9D1B-1      NaN          NaN
124   9D1B   (3S)9D1B[1]            2   9D1B-2      NaN          NaN
125   9D1B   (3S)9D1B[2]            3   9D1B-3      NaN          NaN
126   9D1B   (6S)9D1B[1]            4   9D1B-4      NaN          NaN
127   9D1B   (6S)9D1B[3]            5   9D1B-5      NaN          NaN
128   9D2B   (3S)9D2B[1]            1   9D2B-1      NaN          NaN
236   A6AF   (5S)A6AF[7]            1   A6AF-1      NaN          NaN
237    A6F    (5W)A6F[4]            1    A6F-1      NaN          NaN
264   B20A   (6S)B20A[3]            6   B20A-6      NaN          NaN
346  Q103A  (1E)Q103A[1]            1  Q103A-1      NaN          NaN
347   Q114   (1E)Q114[3]            1   Q114-1      NaN          NaN
348    S3-    (1E)S3-[1]            1    S3--1      NaN          NaN

In [14]:
len(ciso)

17

In [15]:
#ciso.to_excel(r"C:\Users\mkreidler\Desktop\35w\apples to apples v2\need in ctrac is you use all shipped blocks.xlsx")

In [40]:
file = r"C:\Users\mkreidler\Desktop\35w\INSTALLED.xlsx"

install = pd.read_excel(file)

install = install.sort_values("name_install")

install["cum_count"] = install.groupby("name_install").cumcount() + 1

install = install[install.name_install.isna() == False]

install["cc"] = install.name_install + "-" + install.cum_count.map(str)

rhino_cleaned = m

rh_match_install = rhino_cleaned.merge(install, on="cc", how="left")

remaining = rh_match_install[rh_match_install["name_install"].isna()]

print(len(remaining))

remaining.to_excel(r"C:\Users\mkreidler\Desktop\35w\remaining_ct_less_install.xlsx")

58