In [26]:
import pandas as pd


mc = r"C:\Users\mkreidler\Desktop\mark.xlsx"
onl = r"C:\Users\mkreidler\Desktop\online.xlsx"
ctrac = r"C:\Users\mkreidler\Desktop\ctrac.xlsx"

mark = pd.read_excel(mc)
online = pd.read_excel(onl)
mark["bvtc"] = mark.bv + "-" + mark.color
online["bvtc"] = online.bv + "-" + online.color
mark["instance"] = mark.groupby("bvtc").cumcount()+1
online["instance"] = online.groupby("bvtc").cumcount()+1
mark["compare"] = mark.bvtc + "[" + mark.instance.map(str) + "]"
online["compare"] = online.bvtc + "[" + online.instance.map(str) + "]"
mark.head()

  trc_mark    bv color  floor  mark    bvtc  instance    compare
0   E-AE07   J2E     B     10  mark   J2E-B         1   J2E-B[1]
1   E-AG08   CS5     F     10  mark   CS5-F         1   CS5-F[1]
2  E-AG08b   CS3     A     10  mark   CS3-A         1   CS3-A[1]
3   E-AG09   J2E     A     10  mark   J2E-A         1   J2E-A[1]
4    N-B02  A10C     A     12  mark  A10C-A         1  A10C-A[1]

  trc_online color     bv     bvtc  instance     compare
0     E-AE07     B    J2E    J2E-B         1    J2E-B[1]
1     E-AG08     F    CS5    CS5-F         1    CS5-F[1]
2    E-AG08b     E    CS3    CS3-E         1    CS3-E[1]
3     E-AG09     E    J2E    J2E-E         1    J2E-E[1]
4     E-AH09     F  CS1LB  CS1LB-F         1  CS1LB-F[1]

In [23]:
merge = mark.merge(online, on="compare", how="outer")

merge.head()

,trc_mark,bv_x,color_x,floor,bvtc_x,instance_x,compare,trc_online,color_y,bv_y,bvtc_y,instance_y
0,E-AE07,J2E,B,10.0,J2E-B,1.0,J2E-B[1],E-AE07,B,J2E,J2E-B,1.0
1,E-AG08,CS5,F,10.0,CS5-F,1.0,CS5-F[1],E-AG08,F,CS5,CS5-F,1.0
2,E-AG08b,CS3,A,10.0,CS3-A,1.0,CS3-A[1],NaN,NaN,NaN,NaN,NaN
3,E-AG09,J2E,A,10.0,J2E-A,1.0,J2E-A[1],NaN,NaN,NaN,NaN,NaN
4,N-B02,A10C,A,12.0,A10C-A,1.0,A10C-A[1],NaN,NaN,NaN,NaN,NaN

In [24]:
merge.to_excel(r"C:\Users\mkreidler\Desktop\merge.xlsx")