In [1]:
import pandas as pd

block_path = r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\working files\blocks.xlsx"
ctrac_path = r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\working files\ctrac.xlsx"


block = pd.read_excel(block_path)
ctrac = pd.read_excel(ctrac_path)

block.head()

  Drawing Reference Elevation      trc color phase   bvtc
0       AC765-FR-06      East   E-AE07     B     1    J2E
1       AC765-FR-06      East   E-AG08     F     1    CS5
2       AC765-FR-06      East  E-AG08b     E     2    CS3
3       AC765-FR-06      East   E-AG09     E     1    J2E
4       AC765-FR-06      East   E-AH09     F     1  CS1LB

In [2]:
block["Block ID"] = block.bvtc + "-" + block.color

block.head()

  Drawing Reference Elevation      trc color phase   bvtc Block ID
0       AC765-FR-06      East   E-AE07     B     1    J2E    J2E-B
1       AC765-FR-06      East   E-AG08     F     1    CS5    CS5-F
2       AC765-FR-06      East  E-AG08b     E     2    CS3    CS3-E
3       AC765-FR-06      East   E-AG09     E     1    J2E    J2E-E
4       AC765-FR-06      East   E-AH09     F     1  CS1LB  CS1LB-F

In [3]:
ctrac["Block ID"] = ctrac["Block ID"].map(lambda x:x.strip())

ctrac.head()

  Block ID  Block# Curr Loca  Date Scan      Drawing #
0    A1C-B     201   KIL3E   2019-01-15   SHB-A1C
1    A1D-B     202   KIL3E   2019-01-15   SHB-A1D
2    A1E-B     203   KIL3E   2019-01-15   SHB-A1E
3    A1E-B     204   KIL3E   2019-01-15   SHB-A1E
4    A1E-B     205   KIL3E   2019-01-15   SHB-A1E

In [4]:
new = pd.merge(block, ctrac, how="inner", on="Block ID")

new.head()

len(new)

10769

In [5]:
#new.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\BlockLocation.xlsx")

In [6]:
block.head()

  Drawing Reference Elevation      trc color phase   bvtc Block ID
0       AC765-FR-06      East   E-AE07     B     1    J2E    J2E-B
1       AC765-FR-06      East   E-AG08     F     1    CS5    CS5-F
2       AC765-FR-06      East  E-AG08b     E     2    CS3    CS3-E
3       AC765-FR-06      East   E-AG09     E     1    J2E    J2E-E
4       AC765-FR-06      East   E-AH09     F     1  CS1LB  CS1LB-F

In [7]:
block.loc[block["Block ID"] == "F8A-F"]

     Drawing Reference Elevation    trc color phase bvtc Block ID
835        AC765-FR-04     North  N-Y25     F     1  F8A    F8A-F
838        AC765-FR-04     North  N-Z30     F     1  F8A    F8A-F
2700       AC765-FR-02      West  W-Y91     F     1  F8A    F8A-F
2702       AC765-FR-02      West  W-Z35     F     1  F8A    F8A-F

In [8]:
block["cumcount"] =  block.groupby("Block ID").cumcount() +1

In [9]:
block.sort_values("Block ID").head()

    Drawing Reference Elevation    trc color phase  bvtc Block ID  cumcount
271       AC765-FR-04     North  N-B06     B     1  A10A   A10A-B         1
272       AC765-FR-04     North  N-B45     B     1  A10A   A10A-B         2
270       AC765-FR-04     North  N-B05     F     1  A10A   A10A-F         1
22        AC765-FR-06      East  E-B08     A     1  A10B   A10B-A         1
23        AC765-FR-06      East  E-B09     B     1  A10B   A10B-B         1

In [10]:
block["key"] = block["Block ID"] + "_" + block["cumcount"].astype(str)

In [11]:
block.head()

,Drawing Reference,Elevation,trc,color,phase,bvtc,Block ID,cumcount,key
0,AC765-FR-06,East,E-AE07,B,1,J2E,J2E-B,1,J2E-B_1
1,AC765-FR-06,East,E-AG08,F,1,CS5,CS5-F,1,CS5-F_1
2,AC765-FR-06,East,E-AG08b,E,2,CS3,CS3-E,1,CS3-E_1
3,AC765-FR-06,East,E-AG09,E,1,J2E,J2E-E,1,J2E-E_1
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,CS1LB-F,1,CS1LB-F_1

In [12]:
ctrac["cumcount"] = ctrac.groupby("Block ID").cumcount() + 1

ctrac["key"] = ctrac["Block ID"] + "_" + ctrac["cumcount"].astype(str)

ctrac.head()

  Block ID  Block# Curr Loca  Date Scan      Drawing #  cumcount      key
0    A1C-B     201   KIL3E   2019-01-15   SHB-A1C              1  A1C-B_1
1    A1D-B     202   KIL3E   2019-01-15   SHB-A1D              1  A1D-B_1
2    A1E-B     203   KIL3E   2019-01-15   SHB-A1E              1  A1E-B_1
3    A1E-B     204   KIL3E   2019-01-15   SHB-A1E              2  A1E-B_2
4    A1E-B     205   KIL3E   2019-01-15   SHB-A1E              3  A1E-B_3

In [13]:
result = pd.merge(block, ctrac, on="key", how="right")

result.head()

,Drawing Reference,Elevation,trc,color,phase,bvtc,Block ID_x,cumcount_x,key,Block ID_y,Block#,Curr Loca,Date Scan,Drawing #,cumcount_y
0,AC765-FR-05,East,E-CH01,A,1,A1A,A1A-A,1.0,A1A-A_1,A1A-A,80,QUALC,2019-01-16,SHB-A1A,1
1,AC765-FR-05,East,E-CM09,D,1,A1F,A1F-D,1.0,A1F-D_1,A1F-D,424,KIL3E,2019-01-15,SHB-A1F,1
2,AC765-FR-05,East,E-CM10,A,1,A1F,A1F-A,1.0,A1F-A_1,A1F-A,96,SIZNG,2019-01-02,SHB-A1F,1
3,AC765-FR-05,East,E-CN06,B,1,A1A,A1A-B,1.0,A1A-B_1,A1A-B,196,QUALC,2019-01-16,SHB-A1A,1
4,AC765-FR-05,East,E-CN08,D,1,A1A,A1A-D,1.0,A1A-D_1,A1A-D,396,SIZNG,2019-01-02,SHB-A1A,1

In [14]:
len(result)

350

In [15]:
#result.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\BlockLocation.xlsx")

In [17]:
#result.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-21\blocks.xlsx")

In [31]:
data = result[["trc", "key","Block#"]]
data.head()

      trc      key  Block#
0  E-CH01  A1A-A_1      80
1  E-CM09  A1F-D_1     424
2  E-CM10  A1F-A_1      96
3  E-CN06  A1A-B_1     196
4  E-CN08  A1A-D_1     396

In [42]:
ctrac2 = pd.read_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-21\Working Files\ctrac.xlsx")

common = data.merge(ctrac2, on="Block#", how="right")

data.query("@data not in @ctrac2")

             trc       key  Block#
0         E-CH01   A1A-A_1    80.0
1         E-CM09   A1F-D_1   424.0
2         E-CM10   A1F-A_1    96.0
3         E-CN06   A1A-B_1   196.0
4         E-CN08   A1A-D_1   396.0
5         E-CN12   A1A-B_2   177.0
6         E-CP04   A1A-A_2    91.0
7         N-AM56   A1E-B_1   203.0
8         N-AQ29   A1G-D_1   427.0
9         N-BA02   A1F-D_2   414.0
10        N-BA36   A1E-B_2   204.0
11        N-BG48   A1D-D_1   409.0
12        N-BG49   A1E-D_1   410.0
13        N-BG50   A1E-D_2   412.0
14        N-BH29   A1A-B_3   178.0
15        N-BH30   A1A-A_3    78.0
16        N-BH31   A1F-A_2    95.0
17        N-BH33   A1F-D_3   415.0
18        N-BH40   A1A-D_2   405.0
19        N-BH41   A1A-B_4   179.0
20        N-BH47   A1F-B_1   207.0
21        N-BS40   A1A-B_5   180.0
22        N-BT34   A1A-D_3   407.0
23        N-BT40   A1B-B_1   200.0
24        N-BT41   A1A-A_4    79.0
25        N-CC41   A1A-D_4   408.0
26        N-CC47   A1F-D_4   416.0
27        N-CC48   A1F-A_3    97.0
28        N-CC49   A1C-B_1   201.0
29        N-CC50   A1E-B_3   205.0
..           ...       ...     ...
320       W-CW42  A1F-A_11   105.0
321       W-CW46   A1F-B_9   215.0
322       W-CW56  A1A-B_23   199.0
323       W-CY02  A1A-D_12   406.0
324  W-W11-03-03   A1M-B_6   276.0
325  W-W11-03-04   A1M-B_7   277.0
326  W-W11-03-05   A1M-C_4   383.0
327  W-W11-04-02   A1M-C_5   384.0
328  W-W11-04-03   A1M-D_4   491.0
329  W-W11-04-04   A1M-C_6   385.0
330  W-W11-04-05   A1M-B_8   279.0
331  W-W11-05-01   A1M-D_5   492.0
332  W-W11-05-02   A1M-A_5   162.0
333  W-W11-05-04   A1M-C_7   386.0
334  W-W11-05-05   A1M-C_8   387.0
335  W-W11-06-01   A1M-B_9   281.0
336  W-W11-06-03  A1M-B_10   282.0
337  W-W11-06-04   A1M-D_6   493.0
338  W-W11-06-05   A1M-A_6   164.0
339  W-W11-07-01  A1M-B_11   283.0
340  W-W11-07-03   A1M-C_9   388.0
341  W-W11-08-01  A1M-B_12   285.0
342  W-W11-08-02   A1M-A_7   166.0
343  W-W11-08-03  A1M-C_10   389.0
344  W-W11-08-04  A1M-B_13   286.0
345  W-W11-08-05   A1M-A_8   167.0
346        W-Z90  A1F-A_12   106.0
347        W-Z91   A1K-D_1   487.0
348          NaN      H1_1    21.0
349          NaN   A1N-D_7   494.0

[350 rows x 3 columns]