In [53]:
import pandas as pd

file = r"C:\Users\mkreidler\Desktop\ShellRegister.xlsx"

df = pd.read_excel(file)

df = df[["trc", "bv", "ship_status", "scope", "count", "Glaze Code", "Level"]]

df = df.loc[df["count"] == 1, :]

scope_size = len(df)


check = df.loc[df.ship_status == "check", :]


#check.loc[df.scope.isna(), :]
#check.loc[df.trc.str.contains("REMAKE"), :]

df["bvtc"] = df.bv + "-" + df["Glaze Code"]

register = df


ct = r"C:\Users\mkreidler\Desktop\shellall.xlsx"
ctrac = pd.read_excel(ct)
ctrac.head()

  Block ID FormingMethod  Block Line Number  UnitQuantity
0    SF2-B            HP               3062             1
1   Q38C-F            HP               3061             1
2    SP2-F            HP               3060             1
3    SP1-D            HP               3059             1
4    Q85-D            HP               3058             1

In [54]:
reg = register.groupby("bvtc").count()
reg.name = 0
reg = reg.reset_index()[["bvtc", "trc"]]
reg = reg.rename(columns={"bvtc":"register_name", "trc":"register_qty"})
reg.head()

  register_name  register_qty
0        A10A-B             2
1        A10A-F             1
2        A10B-A             1
3        A10B-B             1
4        A10B-C             1

In [55]:
or2 = r"C:\Users\mkreidler\Desktop\ak_online_register2.xlsx"
online_register = pd.read_excel(or2)

online_register

oreg = online_register

oreg["bvtc"] = oreg.bv + "-" + oreg.color

oreg.head()

       trc color phase     bv  count     bvtc
0   E-AE07     B     1    J2E      1    J2E-B
1   E-AG08     F     1    CS5      1    CS5-F
2  E-AG08b     E     2    CS3      1    CS3-E
3   E-AG09     E     1    J2E      1    J2E-E
4   E-AH09     F     1  CS1LB      1  CS1LB-F

In [56]:
df.head()

     trc    bv          ship_status    scope  count Glaze Code  Level    bvtc
0  N-B05  A10A  2019-08-12 00:00:00  Replace    1.0          F   12.0  A10A-F
1  N-B06  A10A  2019-07-19 00:00:00  Replace    1.0          B   12.0  A10A-B
2  N-B45  A10A  2019-08-12 00:00:00  Replace    1.0          B   12.0  A10A-B
3  E-B08  A10B  2019-05-09 00:00:00  Replace    1.0          A   12.0  A10B-A
4  E-B09  A10B  2019-04-05 00:00:00  Replace    1.0          B   12.0  A10B-B

In [57]:
len(df)

2779

In [58]:
df["instance"] = df.groupby("bvtc").cumcount() + 1

df["block_instance"] = df.bvtc + "[" + df.instance.map(str) + "]"

df.head()

,trc,bv,ship_status,scope,count,Glaze Code,Level,bvtc,instance,block_instance
0,N-B05,A10A,2019-08-12 00:00:00,Replace,1.0,F,12.0,A10A-F,1,A10A-F[1]
1,N-B06,A10A,2019-07-19 00:00:00,Replace,1.0,B,12.0,A10A-B,1,A10A-B[1]
2,N-B45,A10A,2019-08-12 00:00:00,Replace,1.0,B,12.0,A10A-B,2,A10A-B[2]
3,E-B08,A10B,2019-05-09 00:00:00,Replace,1.0,A,12.0,A10B-A,1,A10B-A[1]
4,E-B09,A10B,2019-04-05 00:00:00,Replace,1.0,B,12.0,A10B-B,1,A10B-B[1]

In [59]:
len(ctrac)

2782

In [60]:
ctrac.head()

  Block ID FormingMethod  Block Line Number  UnitQuantity
0    SF2-B            HP               3062             1
1   Q38C-F            HP               3061             1
2    SP2-F            HP               3060             1
3    SP1-D            HP               3059             1
4    Q85-D            HP               3058             1

In [61]:
ctrac["instance"] = ctrac.groupby("Block ID").cumcount() + 1

ctrac["block_instance"] = ctrac["Block ID"] + "[" + ctrac.instance.map(str) + "]"

ctrac.head()

,Block ID,FormingMethod,Block Line Number,UnitQuantity,instance,block_instance
0,SF2-B,HP,3062,1,1,SF2-B[1]
1,Q38C-F,HP,3061,1,1,Q38C-F[1]
2,SP2-F,HP,3060,1,1,SP2-F[1]
3,SP1-D,HP,3059,1,1,SP1-D[1]
4,Q85-D,HP,3058,1,1,Q85-D[1]

In [62]:
register = df

merge = register.merge(ctrac, on="block_instance", how="outer")
#merge.to_excel(r"C:\Users\mkreidler\Desktop\merge_shell.xlsx")

In [76]:
block_line = merge.loc[merge["Block Line Number"].isna(), :]
check = block_line.loc[block_line.ship_status == "check", :]

colors = list("AE")

check.head()

ae = check.loc[check["Glaze Code"].str.contains("|".join(colors))]

ae

,trc,bv,ship_status,scope,count,Glaze Code,Level,bvtc,instance_x,block_instance,Block ID,FormingMethod,Block Line Number,UnitQuantity,instance_y
996,TS-AM15,C1A,check,New Blocks,1.0,A,13.0,C1A-A,12.0,C1A-A[12],NaN,NaN,NaN,NaN,NaN
998,TS-AM17,C1A,check,New Blocks,1.0,A,13.0,C1A-A,13.0,C1A-A[13],NaN,NaN,NaN,NaN,NaN
999,TS-AM18,C1A,check,New Blocks,1.0,A,13.0,C1A-A,14.0,C1A-A[14],NaN,NaN,NaN,NaN,NaN
1000,TS-AM19,C1A,check,New Blocks,1.0,A,13.0,C1A-A,15.0,C1A-A[15],NaN,NaN,NaN,NaN,NaN
1241,W-DH48,B1,check,Replace,1.0,A,1.0,B1-A,23.0,B1-A[23],NaN,NaN,NaN,NaN,NaN
1474,N-DH05,B4AR,check,Replace,1.0,A,1.0,B4AR-A,1.0,B4AR-A[1],NaN,NaN,NaN,NaN,NaN
1530,TW-T01,Q58,check,Replace,1.0,A,13.0,Q58-A,1.0,Q58-A[1],NaN,NaN,NaN,NaN,NaN
1583,TN-AP01,Q69d2,check,New Blocks,1.0,A,13.0,Q69d2-A,1.0,Q69d2-A[1],NaN,NaN,NaN,NaN,NaN
1636,N-B02,A10C,check,Replace,1.0,A,12.0,A10C-A,1.0,A10C-A[1],NaN,NaN,NaN,NaN,NaN
1640,W-B48,A10E,check,Replace,1.0,A,12.0,A10E-A,1.0,A10E-A[1],NaN,NaN,NaN,NaN,NaN
1659,W-AG27-b,CS29,check,Replace,1.0,A,10.0,CS29-A,1.0,CS29-A[1],NaN,NaN,NaN,NaN,NaN
1746,N-AV04,A3F,check,Replace,1.0,A,9.0,A3F-A,2.0,A3F-A[2],NaN,NaN,NaN,NaN,NaN
1768,W-AL64,A4A,check,Replace,1.0,A,9.0,A4A-A,7.0,A4A-A[7],NaN,NaN,NaN,NaN,NaN
1795,W-EN11,F1,check,Replace,1.0,A,0.0,F1-A,4.0,F1-A[4],NaN,NaN,NaN,NaN,NaN
1836,W-EA109,F11d13,check,Replace,1.0,A,1.0,F11d13-A,1.0,F11d13-A[1],NaN,NaN,NaN,NaN,NaN
1853,N-DM29,F11d6,check,Replace,1.0,A,1.0,F11d6-A,3.0,F11d6-A[3],NaN,NaN,NaN,NaN,NaN
1861,N-EE10,F13d1,check,Replace,1.0,A,1.0,F13d1-A,1.0,F13d1-A[1],NaN,NaN,NaN,NaN,NaN
1867,N-EN40,F15Rd1,check,Replace,1.0,A,0.0,F15Rd1-A,1.0,F15Rd1-A[1],NaN,NaN,NaN,NaN,NaN
1875,N-DM62,F2d1,check,Replace,1.0,A,1.0,F2d1-A,2.0,F2d1-A[2],NaN,NaN,NaN,NaN,NaN
2294,N-AZ53,A2B,check,Replace,1.0,A,7.0,A2B-A,1.0,A2B-A[1],NaN,NaN,NaN,NaN,NaN
2415,N-AZ54,A2B,check,Replace,1.0,A,7.0,A2B-A,2.0,A2B-A[2],NaN,NaN,NaN,NaN,NaN
2460,W-AX34,B6B,check,Replace,1.0,A,7.0,B6B-A,14.0,B6B-A[14],NaN,NaN,NaN,NaN,NaN
2465,W-AX40,B6B,check,Replace,1.0,A,7.0,B6B-A,15.0,B6B-A[15],NaN,NaN,NaN,NaN,NaN
2484,W-AX30,B6C,check,Replace,1.0,A,7.0,B6C-A,12.0,B6C-A[12],NaN,NaN,NaN,NaN,NaN
2495,W-AX47,B6C,check,Replace,1.0,A,7.0,B6C-A,13.0,B6C-A[13],NaN,NaN,NaN,NaN,NaN
2496,W-AX48,B6C,check,Replace,1.0,A,7.0,B6C-A,14.0,B6C-A[14],NaN,NaN,NaN,NaN,NaN
2510,E-AZ10,H5,check,Replace,1.0,A,7.0,H5-A,4.0,H5-A[4],NaN,NaN,NaN,NaN,NaN
2540,E-BF15,S2LAd1,check,Replace,1.0,A,7.0,S2LAd1-A,1.0,S2LAd1-A[1],NaN,NaN,NaN,NaN,NaN
2554,W-BP17,A1A,check,Replace,1.0,A,6.0,A1A-A,34.0,A1A-A[34],NaN,NaN,NaN,NaN,NaN
2555,W-BQ73,A1A,check,Replace,1.0,A,6.0,A1A-A,35.0,A1A-A[35],NaN,NaN,NaN,NaN,NaN
2572,N-CA25,A18A,check,Replace,1.0,A,5.0,A18A-A,6.0,A18A-A[6],NaN,NaN,NaN,NaN,NaN
2574,N-BS23,A1A,check,Replace,1.0,A,5.0,A1A-A,36.0,A1A-A[36],NaN,NaN,NaN,NaN,NaN
2576,W-BT37 REMAKE,A1A,check,NaN,1.0,A,5.0,A1A-A,37.0,A1A-A[37],NaN,NaN,NaN,NaN,NaN
2582,N-BS24,A1D,check,Replace,1.0,A,5.0,A1D-A,9.0,A1D-A[9],NaN,NaN,NaN,NaN,NaN
2644,W-CM27,A1A,check,Replace,1.0,A,3.0,A1A-A,38.0,A1A-A[38],NaN,NaN,NaN,NaN,NaN
2651,W-CU82,S2LA,check,Replace,1.0,A,3.0,S2LA-A,2.0,S2LA-A[2],NaN,NaN,NaN,NaN,NaN
2652,W-CU18,S2RA,check,Replace,1.0,A,3.0,S2RA-A,2.0,S2RA-A[2],NaN,NaN,NaN,NaN,NaN
2719,W-CX42,H1A,check,Replace,1.0,A,2.0,H1A-A,18.0,H1A-A[18],NaN,NaN,NaN,NaN,NaN
2740,W-CX19,H2RA,check,Replace,1.0,A,2.0,H2RA-A,9.0,H2RA-A[9],NaN,NaN,NaN,NaN,NaN
2777,N-DD14,S3,check,Replace,1.0,A,2.0,S3-A,1.0,S3-A[1],NaN,NaN,NaN,NaN,NaN