In [135]:
import pandas as pd

file = r"C:\Users\mkreidler\Desktop\modified shell.xlsx"

ctrac = pd.read_excel(file, sheet_name="ctrac")
reg = pd.read_excel(file, sheet_name="register")

def clean(x):
    x = str(x).strip().upper()
    return x

def swap_e(x):
    result = str(x).replace("-E","-A")
    return result

reg.bv = reg.bv.apply(clean)
reg["bvtc"] = reg.bv.map(str) + "-" + reg.color
reg.bvtc = reg.bvtc.apply(swap_e)
reg = reg.sort_values("bvtc")
reg["instance"] = reg.groupby("bvtc").cumcount() + 1
reg["compare"] = reg.bvtc + "[" + reg.instance.map(str) + "]"


ctrac.bvtc = ctrac.bvtc.apply(clean)
ctrac.bvtc = ctrac.bvtc.apply(swap_e)
ctrac = ctrac.sort_values("bvtc")
ctrac["instance"] = ctrac.groupby("bvtc").cumcount() + 1
ctrac["compare"] = ctrac.bvtc + "[" + ctrac.instance.map(str) + "]"

In [136]:
reg.head()

,trc,bv,unshipped,color,floor,shipment,scope,include,register,bvtc,instance,compare
0,N-B02,A10C,unshipped,A,12,1.0,Replace,1,register,A10C-A,1,A10C-A[1]
1,TE-P08,A12,unshipped,C,12,3.0,Replace,1,register,A12-C,1,A12-C[1]
2,N-CA25,A18A,unshipped,A,5,2.0,Replace,1,register,A18A-A,1,A18A-A[1]
3,N-CA23,A18A,unshipped,D,5,2.0,Replace,1,register,A18A-D,1,A18A-D[1]
4,E-AZ13,A19,unshipped,B,7,1.0,Replace,1,register,A19-B,1,A19-B[1]

In [137]:
merge = ctrac.merge(reg, on="compare", how="outer")
merge.head()

,priority,bvtc_x,block_num,location,ctrac,instance_x,compare,trc,bv,unshipped,color,floor,shipment,scope,include,register,bvtc_y,instance_y
0,Z_INHSE,A1,27.0,MCKUP,ctrac,1.0,A1[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZEXTRA,A10A,3063.0,FINIS,ctrac,1.0,A10A[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZEXTRA,A10B,3064.0,FINIS,ctrac,1.0,A10B[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L 12.1,A10C-A,1573.0,SIZNG,ctrac,1.0,A10C-A[1],N-B02,A10C,unshipped,A,12.0,1.0,Replace,1.0,register,A10C-A,1.0
4,ZEXTRA,A10E-A,3065.0,FINIS,ctrac,1.0,A10E-A[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
len(reg)

181

In [139]:
len(ctrac)

204

In [140]:
len(merge)

234

In [141]:
inner = ctrac.merge(reg, on="compare", how="inner")
len(inner)

151

In [142]:
right = ctrac.merge(reg, on="compare", how="right")
right.head()

,priority,bvtc_x,block_num,location,ctrac,instance_x,compare,trc,bv,unshipped,color,floor,shipment,scope,include,register,bvtc_y,instance_y
0,L 12.1,A10C-A,1573.0,SIZNG,ctrac,1.0,A10C-A[1],N-B02,A10C,unshipped,A,12,1.0,Replace,1,register,A10C-A,1
1,L CT.3,A12-C,3049.0,WHSI,ctrac,1.0,A12-C[1],TE-P08,A12,unshipped,C,12,3.0,Replace,1,register,A12-C,1
2,CLOSEOU,A18A-A,3066.0,,ctrac,1.0,A18A-A[1],N-CA25,A18A,unshipped,A,5,2.0,Replace,1,register,A18A-A,1
3,CLOSEOU,A18A-D,3067.0,,ctrac,1.0,A18A-D[1],N-CA23,A18A,unshipped,D,5,2.0,Replace,1,register,A18A-D,1
4,CLOSEOU,A19-B,3114.0,,ctrac,1.0,A19-B[1],E-AZ13,A19,unshipped,B,7,1.0,Replace,1,register,A19-B,1

In [143]:
len(right)

181

In [144]:
merge.to_excel(r"C:\Users\mkreidler\Desktop\merge.xlsx")

In [145]:
dup = merge[merge.compare.duplicated()]

In [146]:
len(dup)

0

In [155]:
m = merge.loc[merge.register.isna() == False, :]
m = m.loc[m.ctrac.isna(), :]

len(m)

30

In [157]:
m.head()

,priority,bvtc_x,block_num,location,ctrac,instance_x,compare,trc,bv,unshipped,color,floor,shipment,scope,include,register,bvtc_y,instance_y
204,NaN,NaN,NaN,NaN,NaN,NaN,A1A-B[6],E-CX12,A1A,unshipped,B,2.0,2.0,Replace,1.0,register,A1A-B,6.0
205,NaN,NaN,NaN,NaN,NaN,NaN,A1D-D[1],W-CM52,A1D,unshipped,D,3.0,2.0,Replace,1.0,register,A1D-D,1.0
206,NaN,NaN,NaN,NaN,NaN,NaN,A1F-D[2],N-CW02,A1F,unshipped,D,2.0,2.0,Replace,1.0,register,A1F-D,2.0
207,NaN,NaN,NaN,NaN,NaN,NaN,A1J-A[1],TS-BD12,A1J,unshipped,A,13.0,3.0,New Blocks,1.0,register,A1J-A,1.0
208,NaN,NaN,NaN,NaN,NaN,NaN,A1J-B[1],TS-BB12,A1J,unshipped,B,13.0,3.0,New Blocks,1.0,register,A1J-B,1.0

In [175]:
m = merge
cols = ["compare", "floor", "shipment", "register","ctrac", "include"]
m = m.loc[(~m["register"].isna())&(m["ctrac"].isna()), cols]

len(m)

30

In [176]:
m.head()

      compare  floor  shipment  register ctrac  include
204  A1A-B[6]    2.0       2.0  register   NaN      1.0
205  A1D-D[1]    3.0       2.0  register   NaN      1.0
206  A1F-D[2]    2.0       2.0  register   NaN      1.0
207  A1J-A[1]   13.0       3.0  register   NaN      1.0
208  A1J-B[1]   13.0       3.0  register   NaN      1.0

In [174]:
merge.head()

,priority,bvtc_x,block_num,location,ctrac,instance_x,compare,trc,bv,unshipped,color,floor,shipment,scope,include,register,bvtc_y,instance_y
0,Z_INHSE,A1,27.0,MCKUP,ctrac,1.0,A1[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ZEXTRA,A10A,3063.0,FINIS,ctrac,1.0,A10A[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZEXTRA,A10B,3064.0,FINIS,ctrac,1.0,A10B[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,L 12.1,A10C-A,1573.0,SIZNG,ctrac,1.0,A10C-A[1],N-B02,A10C,unshipped,A,12.0,1.0,Replace,1.0,register,A10C-A,1.0
4,ZEXTRA,A10E-A,3065.0,FINIS,ctrac,1.0,A10E-A[1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN