In [117]:
import pandas as pd

path = r"C:\Users\mkreidler\Desktop\SurveyScope.xlsx"
df = pd.read_excel(path)

df.head()

,layer,name,zones,guid
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86
2,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85
3,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,62a66fae-aec3-4186-971f-0c2f01912b41
4,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,646eed2e-8458-46a1-b05d-5b13f9f0370d

In [118]:
import re
df["new"] = ""

df.new = df.layer.apply(lambda x: "NEW" in str(x))
df.head()

,layer,name,zones,guid,new
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,False
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,False
2,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85,False
3,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,62a66fae-aec3-4186-971f-0c2f01912b41,False
4,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,646eed2e-8458-46a1-b05d-5b13f9f0370d,False

In [119]:
df["co"] = ""

def find_co(x):
    pat = r"CO([0-9]+)"
    result = re.search(pat, str(x))
    if result:
        return result.group(1)

    

df.co = df.layer.apply(find_co)
df.head()

,layer,name,zones,guid,new,co
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,False,None
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,False,None
2,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85,False,None
3,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,62a66fae-aec3-4186-971f-0c2f01912b41,False,None
4,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,646eed2e-8458-46a1-b05d-5b13f9f0370d,False,None

In [120]:
df["priority"] = ""

def find_priority(x):
    pat = r"P([0-9]+)"
    result = re.search(pat, str(x))
    if result:
        return result.group(1)

    

df.priority = df.layer.apply(find_priority)
df.head()

,layer,name,zones,guid,new,co,priority
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,False,None,None
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,False,None,None
2,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85,False,None,None
3,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,62a66fae-aec3-4186-971f-0c2f01912b41,False,None,None
4,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,646eed2e-8458-46a1-b05d-5b13f9f0370d,False,None,None

In [121]:
df["swing_drop"] = ""
def get_drop(x):

    pat = r"drop\s*([a-z]*\d*)"
    match = re.search(pat, str(x), flags=re.IGNORECASE)

    if match:
        #print("Found Match")
        return match.group(1)
    else:
        #print("Not Found")
        return None

df.swing_drop = df.zones.apply(get_drop)

df

,layer,name,zones,guid,new,co,priority,swing_drop
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,False,None,None,S1
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,False,None,None,S1
2,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85,False,None,None,E1
3,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,62a66fae-aec3-4186-971f-0c2f01912b41,False,None,None,E1
4,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,646eed2e-8458-46a1-b05d-5b13f9f0370d,False,None,None,E1
5,Survey::FULL SURVEY,X,['FLOOR 11'// 'EAST ELEVATION'// 'DROP E1'// '...,0d4e7ee3-7090-4f0d-a6fb-f104db4ea979,False,None,None,E1
6,Survey::FULL SURVEY,X,['FLOOR 11'// 'EAST ELEVATION'// 'DROP E1'// '...,1bc3df35-dfe1-48de-901e-4b6c9a5755ee,False,None,None,E1
7,Survey::FULL SURVEY,X,['FLOOR 11'// 'EAST ELEVATION'// 'DROP E1'// '...,b9316813-3c9f-4182-9a81-9413ec2214cf,False,None,None,E1
8,Survey::FULL SURVEY,X,['FLOOR 9'// 'EAST ELEVATION'// 'DROP E1'// 'P...,499ff848-4ea0-4408-a802-23157ff694a7,False,None,None,E1
9,Survey::FULL SURVEY,X,['FLOOR 9'// 'EAST ELEVATION'// 'DROP E1'// 'P...,b54a6fca-7f69-4afd-bcb2-38557f8fb23f,False,None,None,E1
10,Survey::FULL SURVEY,X,['FLOOR 9'// 'EAST ELEVATION'// 'DROP E1'// 'P...,556e13df-90e3-42ae-b159-7ef4bb259400,False,None,None,E1
11,Survey::FULL SURVEY,X,['FLOOR 7'// 'EAST ELEVATION'// 'DROP E1'// 'P...,acc28485-b2d1-4876-b75e-9af0898fe558,False,None,None,E1
12,Survey::FULL SURVEY,X,['FLOOR 7'// 'EAST ELEVATION'// 'DROP E1'// 'P...,ac7ef869-51a9-4b90-8b5f-01f77984dd2f,False,None,None,E1
13,Survey::FULL SURVEY,X,['FLOOR 7'// 'EAST ELEVATION'// 'DROP E1'// 'P...,ff53f37a-01da-402a-951c-f8fb1aea72ba,False,None,None,E1
14,Survey::VERIFY,A19,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,bae908f9-06d4-4c75-ba96-a99495262f7b,False,None,None,S1
15,Survey::VERIFY,B29,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,54d7be22-cb3e-4681-867f-768f3f1d950f,False,None,None,S1
16,Survey::VERIFY,?,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,9cea2cd5-1b67-4596-96f1-a23b9bce4c1c,False,None,None,S1
17,Survey::VERIFY,B29,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,5bc1483d-feda-4ab4-99e0-8e15051341f1,False,None,None,S1
18,Survey::VERIFY,A19,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,5041cb9d-fc42-4791-b9bf-27b423d51402,False,None,None,S1
19,Survey::VERIFY,A19,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,08fe24ec-3b2a-4846-a2e9-ffe458c9e6bf,False,None,None,S1
20,Survey::VERIFY,A19,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,c2208637-9966-4d5a-968b-03d4f1b8df22,False,None,None,S1
21,Survey::VERIFY,B29,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,f1e0ff4f-fdc0-4eec-9a3d-632d2ac1e765,False,None,None,S1
22,Survey::VERIFY,?,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,c0595212-114d-4617-8f0e-924731374009,False,None,None,S1
23,Survey::VERIFY,B35?,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,3d877991-c975-47fd-8da4-3f5d0ca781a4,False,None,None,S1
24,Survey::VERIFY,?,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,cbe9b540-493f-4f71-9e38-4cc1ec6d6777,False,None,None,S1
25,Survey::VERIFY,B34,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,0ca65f36-6b05-47d5-a669-0c0e6e8d8a9e,False,None,None,S1
26,Survey::VERIFY,?,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,8fe89995-d47f-4104-914c-24843520d1b6,False,None,None,S1
27,Survey::VERIFY,A19,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,03042afd-cb0d-41c4-b747-c5889af31628,False,None,None,S1
28,Survey::VERIFY,B29,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,9791211d-966e-47e2-b93e-90ac139da40c,False,None,None,S1
29,Survey::VERIFY,B29,['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// ...,fe9d3bfa-6723-45c2-a06f-c08a0c29098c,False,None,None,S1
...,...,...,...,...,...,...,...,...
964,Survey::FULL SURVEY,X,['FLOOR 11'// 'SOUTH ELEVATION'// 'DROP S3'// ...,462fa271-da0d-4a50-9879-51846ef5d7d5,False,None,None,S3
965,Survey::FULL SURVEY,X,['FLOOR 11'// 'SOUTH ELEVATION'// 'DROP S3'// ...,191058ec-5fb9-4d70-8425-4af8986a8d05,False,None,None,S3
966,Survey::FULL SURVEY,X,['FLOOR 9'// 'SOUTH ELEVATION'// 'DROP S3'// '...,79c5a87b-5be3-4ad8-b700-b65a04fb1bde,False,None,None,S3
967,Survey::FULL SURVEY,X,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S3'// '...,aaafcd4d-6a58-4d5e-8ea6-6bcd5f9478fa,False,None,None,S3
968,Survey::FULL SURVEY,X,['FLOOR 9'// 'SOUTH ELEVATION'// 'DROP S2'// '...,33f4101f-7d06-414c-aca0-03c085695ba1,False,None,None,S2
969,Survey::FULL SURVEY,X,['FLOOR 11'// 'SOUTH ELEVATION'// 'DROP S2'// ...,7ff72ade-2ad6-4bca-bbb2-48209a7168bd,False,None,None,S2
970,Survey::FULL SURVEY,X,['FLOOR 11'// 'SOUTH ELEVATION'// 'DROP S2'// ...,91cb0c3e-5010-438a-8980-7952f0d90d06,False,None,None,S2
971,Survey::FULL SURVEY,X,['FLOOR 13'// 'SOUTH ELEVATION'// 'DROP S2'// ...,726cfdf7-ef05-466e-9238-1a1356f6688e,False,None,None,S2
972,Survey::FULL SURVEY,X,['FLOOR 14'// 'SOUTH ELEVATION'// 'DROP S2'// ...,13f83227-6b18-458d-9634-ea76d6195458,False,None,None,S2
973,Survey::FULL SURVEY,X,['FLOOR 15'// 'SOUTH ELEVATION'// 'DROP S2'// ...,4faa4288-7f0b-4e8c-9551-1f1c6bfd98c7,False,None,None,S2
974,Survey::FULL SURVEY,X,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S4'// '...,6c6a6547-4ff5-47e5-a3f5-86fe3cc29122,False,None,None,S4
975,Survey::FULL SURVEY,X,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S4'// '...,e00e583b-2a4f-4d58-9649-ba2adb9b8006,False,None,None,S4
976,Survey::FULL SURVEY,X,['FLOOR 4'// 'SOUTH ELEVATION'// 'DROP S4'// '...,bd2dd583-2290-4cdc-a07a-195657242a8c,False,None,None,S4
977,Survey::FULL SURVEY,X,['FLOOR 5'// 'SOUTH ELEVATION'// 'DROP S3'// '...,3c11bf08-aeae-40e1-92ec-aabccc51f426,False,None,None,S3
978,Survey::FULL SURVEY,X,['FLOOR 5'// 'SOUTH ELEVATION'// 'DROP S3'// '...,ad10449f-bdc2-402e-ad8f-7b5d28ded496,False,None,None,S3
979,Survey::FULL SURVEY,X,['FLOOR 5'// 'SOUTH ELEVATION'// 'DROP S3'// '...,09e4237c-eb7e-450c-a029-dbda3cd602db,False,None,None,S3
980,Survey::FULL SURVEY,X,['FLOOR 4'// 'SOUTH ELEVATION'// 'DROP S3'// '...,054ba7f2-b612-4fc4-b9f3-a79c321be368,False,None,None,S3
981,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S3'// '...,63347abb-a454-4964-bffb-ad39403a7ce5,False,None,None,S3
982,Survey::FULL SURVEY,X,['FLOOR 4'// 'SOUTH ELEVATION'// 'DROP S2'// '...,87a62c63-07eb-4a04-a54b-959fcdd7b779,False,None,None,S2
983,Survey::FULL SURVEY,X,['FLOOR 4'// 'SOUTH ELEVATION'// 'DROP S3'// '...,28d5628f-3c18-4d61-b536-70aee731b8bb,False,None,None,S3
984,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S2'// '...,7f198aa2-baa5-4630-bb87-68c34920065c,False,None,None,S2
985,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S2'// '...,f30b057d-8bfb-477a-8d96-a82a3773794c,False,None,None,S2
986,Survey::FULL SURVEY,X,['FLOOR 3'// 'SOUTH ELEVATION'// 'DROP S1'// '...,3b3cd324-871b-43a5-882a-6eb5dfacac7e,False,None,None,S1
987,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S3'// '...,5f11b307-1d19-4aaa-b9ba-98a87f6b03a6,False,None,None,S3
988,Survey::FULL SURVEY,X,['FLOOR 8'// 'SOUTH ELEVATION'// 'DROP S2'// '...,6afab8b2-90c9-42cd-b8bf-1a7e58b9a892,False,None,None,S2
989,Survey::FULL SURVEY,X,['FLOOR 7'// 'SOUTH ELEVATION'// 'DROP S2'// '...,606e983b-1d25-4be9-9612-40618875e1e5,False,None,None,S2
990,Survey::FULL SURVEY,X,['FLOOR 7'// 'SOUTH ELEVATION'// 'DROP S2'// '...,68dcce46-e297-4b81-bec8-e3f02fd17d0c,False,None,None,S2
991,Survey::FULL SURVEY,X,['FLOOR 6'// 'SOUTH ELEVATION'// 'DROP S2'// '...,bf2af0fa-0eca-4034-bda3-f0ea4a2487a5,False,None,None,S2
992,Survey::FULL SURVEY,X,['FLOOR 6'// 'SOUTH ELEVATION'// 'DROP S2'// '...,0692d012-424d-455d-86d1-fe1b2840dad9,False,None,None,S2
993,Survey::FULL SURVEY,X,['FLOOR 21'// 'SOUTH ELEVATION'// 'DROP S2'// ...,c332f6b8-d08b-4c0f-8faa-fb1ec9d0d9db,False,None,None,S2

In [122]:
block_ct = df[["name", "guid"]].groupby("name").count()

block_ct.head()

      guid
name
2B1      2
3B1      1
3B11     3
3B4      1
4A2      1

In [123]:
df.new[df.new == True].count()

0

In [124]:
df.new[df.new == False].count()

994

In [125]:
df[["name", "swing_drop"]].groupby("swing_drop").count()

            name
swing_drop
E1           339
S1            74
S2           117
S3           105
S4           100
S5            81
W             15
W1            51
W2            50
W3            62

In [126]:
unique_names = set(df.name.tolist())

In [127]:
len(unique_names)

129

In [128]:
df.groupby("swing_drop").nunique() ###gives the number of unique values

            layer  name  zones  guid  new  co  priority  swing_drop
swing_drop
E1              2    52     20   339    1   0         0           1
S1              2    11     13    74    1   0         0           1
S2              2     7     21   117    1   0         0           1
S3              2     6     19   105    1   0         0           1
S4              2    12     21   100    1   0         0           1
S5              2    29     20    81    1   0         0           1
W               1     6      5    15    1   0         0           1
W1              2    28     15    51    1   0         0           1
W2              2    18     15    50    1   0         0           1
W3              2    23     14    62    1   0         0           1

In [129]:
df.groupby("co").nunique()

Empty DataFrame
Columns: [layer, name, zones, guid, new, co, priority, swing_drop]
Index: []

In [130]:
len(df)

994

In [131]:
new_blocks = df[df.new ==True]
new_blocks.nunique()

Empty DataFrame
Columns: [layer, name, zones, guid, new, co, priority, swing_drop]
Index: []

In [132]:
df["faulty"] = ""
df["remediation"] = ""
df["deduct"] = ""
df["floor"] = ""
df["elevation"] = ""
df["project"] = ""


def find_faulty(x):
    pat = r"faulty"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return "x"

df.faulty = df.layer.apply(find_faulty)
#df[df.faulty.notnull()]

def find_remediation(x):
    pat = r"remediation"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return "x"

df.remediation = df.layer.apply(find_remediation) 


def find_deduct(x):
    pat = r"deduct"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return "x"

df.deduct = df.layer.apply(find_deduct) 

def find_floor(x):
    pat = r"floor\s*(\d*)"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return result.group(1)

df.floor = df.zones.apply(find_floor)
#df[df.floor.notna()]

def find_elevation(x):
    pat = r"([a-zA-Z]*)\s*ELEVATION"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return result.group(1)

df.elevation = df.zones.apply(find_elevation)
#df[df.elevation.notna()]    


def find_project(x):
    pat = r"'project\s+(.*)'"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return result.group(1)
    else:
        print("not in project")
        
df.project = df.zones.apply(find_project)
df[df.project.notna()].head()

,layer,name,zones,guid,new,co,priority,swing_drop,faulty,remediation,deduct,floor,elevation,project
0,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,59ee227e-2451-43c1-b5d8-4e772ec28a9d,False,None,None,S1,None,None,None,2,SOUTH,35 E WACKER
1,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,False,None,None,S1,None,None,None,2,SOUTH,35 E WACKER
2,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,c6711728-4457-4145-887d-e279e427ab85,False,None,None,E1,None,None,None,20,EAST,35 E WACKER
3,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,62a66fae-aec3-4186-971f-0c2f01912b41,False,None,None,E1,None,None,None,18,EAST,35 E WACKER
4,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,646eed2e-8458-46a1-b05d-5b13f9f0370d,False,None,None,E1,None,None,None,14,EAST,35 E WACKER

In [133]:
#df.to_excel(r"C:\Users\mkreidler\Desktop\SurveyScopeProcessed.xlsx")

In [134]:
test = "['FLOOR 16'// 'SOUTH ELEVATION'// 'DROP S1'// 'PROJECT 35 E WACKER']"



def find_floor(x):
    pat = r"([a-zA-Z]*)\s*ELEVATION"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return result.group(1)
    
def find_project(x):
    pat = r"'project\s+(.*)'"
    result = re.search(pat, str(x), flags=re.IGNORECASE)
    if result:
        return result.group(1)
    else:
        print("fail")
    
    
find_project(test)

'35 E WACKER'

In [135]:
file = r"C:\Users\mkreidler\Desktop\textpt.xlsx"

dd = pd.read_excel(file)

dd.head()

,guid,x,y,z
0,59ee227e-2451-43c1-b5d8-4e772ec28a9d,7709.188631,-2.442491e-15,-1917.500451
1,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,7716.379834,-2.442491e-15,-1905.275405
2,c6711728-4457-4145-887d-e279e427ab85,1910.845628,0.000000e+00,417.218475
3,62a66fae-aec3-4186-971f-0c2f01912b41,2160.327813,0.000000e+00,147.913267
4,646eed2e-8458-46a1-b05d-5b13f9f0370d,1992.537782,0.000000e+00,-370.767680

In [136]:
combined = dd.merge(df, on="guid")

combined.head()

,guid,x,y,z,layer,name,zones,new,co,priority,swing_drop,faulty,remediation,deduct,floor,elevation,project
0,59ee227e-2451-43c1-b5d8-4e772ec28a9d,7709.188631,-2.442491e-15,-1917.500451,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,False,None,None,S1,None,None,None,2,SOUTH,35 E WACKER
1,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,7716.379834,-2.442491e-15,-1905.275405,Survey::FULL SURVEY,X,['FLOOR 2'// 'SOUTH ELEVATION'// 'DROP S1'// '...,False,None,None,S1,None,None,None,2,SOUTH,35 E WACKER
2,c6711728-4457-4145-887d-e279e427ab85,1910.845628,0.000000e+00,417.218475,Survey::FULL SURVEY,X,['FLOOR 20'// 'EAST ELEVATION'// 'DROP E1'// '...,False,None,None,E1,None,None,None,20,EAST,35 E WACKER
3,62a66fae-aec3-4186-971f-0c2f01912b41,2160.327813,0.000000e+00,147.913267,Survey::FULL SURVEY,X,['FLOOR 18'// 'EAST ELEVATION'// 'DROP E1'// '...,False,None,None,E1,None,None,None,18,EAST,35 E WACKER
4,646eed2e-8458-46a1-b05d-5b13f9f0370d,1992.537782,0.000000e+00,-370.767680,Survey::FULL SURVEY,X,['FLOOR 14'// 'EAST ELEVATION'// 'DROP E1'// '...,False,None,None,E1,None,None,None,14,EAST,35 E WACKER

In [137]:
len(combined)

994

In [138]:
c = combined[["guid", "z", "swing_drop"]]

class Order():
    def __init__(self):
        self.swing_drop = None
        self.priority = None
        self.sort = None

def create_order():
    drops = ["W3", "S1", "E1", "W2", "S5", "W1", "S2", "S3","S4"]
    priority = [1, 1, 1, 2, 2, 2, 3, 3, 3]
    order = []
    for i in range(9):
        j = i + 1
        k = Order()
        k.swing_drop = drops[i]
        k.priority = priority[i]
        k.sort = j
        order.append(k)
        
    return order
        

o = create_order()

order = pd.DataFrame([vars(f) for f in o])
order

   priority  sort swing_drop
0         1     1         W3
1         1     2         S1
2         1     3         E1
3         2     4         W2
4         2     5         S5
5         2     6         W1
6         3     7         S2
7         3     8         S3
8         3     9         S4

In [139]:
 c = c.merge(order, on="swing_drop")

In [140]:
len(c)

979

In [141]:
c.head()

,guid,z,swing_drop,priority,sort
0,59ee227e-2451-43c1-b5d8-4e772ec28a9d,-1917.500451,S1,1,2
1,75f35dd0-d55a-4dc2-b62a-50bdb152ba86,-1905.275405,S1,1,2
2,bae908f9-06d4-4c75-ba96-a99495262f7b,0.000000,S1,1,2
3,54d7be22-cb3e-4681-867f-768f3f1d950f,0.000000,S1,1,2
4,9cea2cd5-1b67-4596-96f1-a23b9bce4c1c,0.000000,S1,1,2

In [144]:
c = c.sort_values(by=["sort", "z"], ascending=[True, True])


#this sorted list is the order by which we will survey

In [146]:
c.head()

,guid,z,swing_drop,priority,sort
940,1e1e4386-9a76-4098-8f31-d57081899f30,-1920.141814,W3,1,1
946,bcb9360f-0869-4ed7-9aff-099d88f2768b,-1907.035564,W3,1,1
926,0edf2f5a-3621-4cb7-86fa-c444a952d46b,-1900.051020,W3,1,1
927,099ace80-b5c6-4548-b795-daa96b2f6606,-1887.969619,W3,1,1
949,83bd03ab-98e9-4ff8-9677-7a091522998f,-1881.565365,W3,1,1