In [155]:
import pandas as pd

block_path = r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\working files\blocks.xlsx"
ctrac_path = r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\working files\ctrac.xlsx"


block = pd.read_excel(block_path)
ctrac = pd.read_excel(ctrac_path)

block.head()

  Drawing Reference Elevation      trc color phase   bvtc
0       AC765-FR-06      East   E-AE07     B     1    J2E
1       AC765-FR-06      East   E-AG08     F     1    CS5
2       AC765-FR-06      East  E-AG08b     E     2    CS3
3       AC765-FR-06      East   E-AG09     E     1    J2E
4       AC765-FR-06      East   E-AH09     F     1  CS1LB

In [156]:
block["Block ID"] = block.bvtc + "-" + block.color

block.head()

  Drawing Reference Elevation      trc color phase   bvtc Block ID
0       AC765-FR-06      East   E-AE07     B     1    J2E    J2E-B
1       AC765-FR-06      East   E-AG08     F     1    CS5    CS5-F
2       AC765-FR-06      East  E-AG08b     E     2    CS3    CS3-E
3       AC765-FR-06      East   E-AG09     E     1    J2E    J2E-E
4       AC765-FR-06      East   E-AH09     F     1  CS1LB  CS1LB-F

In [157]:
ctrac["Block ID"] = ctrac["Block ID"].map(lambda x:x.strip())

ctrac.head()

  Block ID  Block# Curr Loca  Date Scan      Drawing #
0    A1C-B     201   KIL3E   2019-01-15   SHB-A1C
1    A1D-B     202   KIL3E   2019-01-15   SHB-A1D
2    A1E-B     203   KIL3E   2019-01-15   SHB-A1E
3    A1E-B     204   KIL3E   2019-01-15   SHB-A1E
4    A1E-B     205   KIL3E   2019-01-15   SHB-A1E

In [158]:
new = pd.merge(block, ctrac, how="inner", on="Block ID")

new.head()

len(new)

10769

In [159]:
#new.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\BlockLocation.xlsx")

In [160]:
block.head()

  Drawing Reference Elevation      trc color phase   bvtc Block ID
0       AC765-FR-06      East   E-AE07     B     1    J2E    J2E-B
1       AC765-FR-06      East   E-AG08     F     1    CS5    CS5-F
2       AC765-FR-06      East  E-AG08b     E     2    CS3    CS3-E
3       AC765-FR-06      East   E-AG09     E     1    J2E    J2E-E
4       AC765-FR-06      East   E-AH09     F     1  CS1LB  CS1LB-F

In [161]:
block.loc[block["Block ID"] == "F8A-F"]

     Drawing Reference Elevation    trc color phase bvtc Block ID
835        AC765-FR-04     North  N-Y25     F     1  F8A    F8A-F
838        AC765-FR-04     North  N-Z30     F     1  F8A    F8A-F
2700       AC765-FR-02      West  W-Y91     F     1  F8A    F8A-F
2702       AC765-FR-02      West  W-Z35     F     1  F8A    F8A-F

In [162]:
block["cumcount"] =  block.groupby("Block ID").cumcount() +1

In [163]:
block.sort_values("Block ID").head()

    Drawing Reference Elevation    trc color phase  bvtc Block ID  cumcount
271       AC765-FR-04     North  N-B06     B     1  A10A   A10A-B         1
272       AC765-FR-04     North  N-B45     B     1  A10A   A10A-B         2
270       AC765-FR-04     North  N-B05     F     1  A10A   A10A-F         1
22        AC765-FR-06      East  E-B08     A     1  A10B   A10B-A         1
23        AC765-FR-06      East  E-B09     B     1  A10B   A10B-B         1

In [164]:
block["key"] = block["Block ID"] + "_" + block["cumcount"].astype(str)

In [166]:
block.head()

,Drawing Reference,Elevation,trc,color,phase,bvtc,Block ID,cumcount,key
0,AC765-FR-06,East,E-AE07,B,1,J2E,J2E-B,1,J2E-B_1
1,AC765-FR-06,East,E-AG08,F,1,CS5,CS5-F,1,CS5-F_1
2,AC765-FR-06,East,E-AG08b,E,2,CS3,CS3-E,1,CS3-E_1
3,AC765-FR-06,East,E-AG09,E,1,J2E,J2E-E,1,J2E-E_1
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,CS1LB-F,1,CS1LB-F_1

In [174]:
ctrac["cumcount"] = ctrac.groupby("Block ID").cumcount() + 1

ctrac["key"] = ctrac["Block ID"] + "_" + ctrac["cumcount"].astype(str)

ctrac.head()

  Block ID  Block# Curr Loca  Date Scan      Drawing #  cumcount      key
0    A1C-B     201   KIL3E   2019-01-15   SHB-A1C              1  A1C-B_1
1    A1D-B     202   KIL3E   2019-01-15   SHB-A1D              1  A1D-B_1
2    A1E-B     203   KIL3E   2019-01-15   SHB-A1E              1  A1E-B_1
3    A1E-B     204   KIL3E   2019-01-15   SHB-A1E              2  A1E-B_2
4    A1E-B     205   KIL3E   2019-01-15   SHB-A1E              3  A1E-B_3

In [177]:
result = pd.merge(block, ctrac, on="key", how="right")

result.head()

,Drawing Reference,Elevation,trc,color,phase,bvtc,Block ID_x,cumcount_x,key,Block ID_y,Block#,Curr Loca,Date Scan,Drawing #,cumcount_y
0,AC765-FR-05,East,E-CH01,A,1,A1A,A1A-A,1.0,A1A-A_1,A1A-A,80,QUALC,2019-01-16,SHB-A1A,1
1,AC765-FR-05,East,E-CM09,D,1,A1F,A1F-D,1.0,A1F-D_1,A1F-D,424,KIL3E,2019-01-15,SHB-A1F,1
2,AC765-FR-05,East,E-CM10,A,1,A1F,A1F-A,1.0,A1F-A_1,A1F-A,96,SIZNG,2019-01-02,SHB-A1F,1
3,AC765-FR-05,East,E-CN06,B,1,A1A,A1A-B,1.0,A1A-B_1,A1A-B,196,QUALC,2019-01-16,SHB-A1A,1
4,AC765-FR-05,East,E-CN08,D,1,A1A,A1A-D,1.0,A1A-D_1,A1A-D,396,SIZNG,2019-01-02,SHB-A1A,1

In [178]:
len(result)

350

In [179]:
result.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-17\BlockLocation.xlsx")