In [74]:
import pandas as pd

scope_path = r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-23\scope.xlsx"
level_path = r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-23\level.xlsx"


scope = pd.read_excel(scope_path)
level = pd.read_excel(level_path)

scope.head()

       setting elevation      trc color phase   bvtc
0  AC765-FR-06      East   E-AE07     B     1    J2E
1  AC765-FR-06      East   E-AG08     F     1    CS5
2  AC765-FR-06      East  E-AG08b     E     2    CS3
3  AC765-FR-06      East   E-AG09     E     1    J2E
4  AC765-FR-06      East   E-AH09     F     1  CS1LB

In [75]:
level = level.loc[:, ~level.columns.str.contains('^Unnamed')]
level.head()

                                   guid              trc  level
0  ea0b50a6-aa3b-4495-939c-c3d68e2d4bb9         RL78.760  Clock
1  1fe505fd-9e5d-4efb-bccb-f927f1501abc    EX. TOWER TOP  Clock
2  77780bc8-4b13-42dc-bfe9-71a93789c533         RL72.940  Clock
3  9be213b7-ad8e-47d6-bfed-b5ac2de2a551  EX. CLOCK TOWER  Clock
4  a9cf2daf-7253-4b59-a6b8-0a3344a31b25         RL68.110  Clock

In [76]:
report = scope.merge(level, on="trc", how="left")

report.head()

,setting,elevation,trc,color,phase,bvtc,guid,level
0,AC765-FR-06,East,E-AE07,B,1,J2E,c7ced094-b6b7-4455-bce5-4d1b65f82a74,10
1,AC765-FR-06,East,E-AG08,F,1,CS5,6b817cdd-0d05-40e8-a512-96d5dd6faf8f,10
2,AC765-FR-06,East,E-AG08b,E,2,CS3,NaN,NaN
3,AC765-FR-06,East,E-AG09,E,1,J2E,e7f3fe88-a132-47bd-a3c7-2000e9b4ef79,10
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,6874e77a-970b-4f8d-9b2b-51b1b0c40429,10

In [77]:
len(report)

3687

In [78]:
#report.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-23\report.xlsx")

In [79]:
no_level = report[report.level.isna()]
no_level.head()

         setting elevation      trc color phase bvtc guid level
2    AC765-FR-06      East  E-AG08b     E     2  CS3  NaN   NaN
207  AC765-FR-06      East  E-W9-01     B    1b  S6L  NaN   NaN
208  AC765-FR-06      East  E-W9-02     C    1b   S5  NaN   NaN
209  AC765-FR-06      East  E-W9-03     B    1b   S5  NaN   NaN
210  AC765-FR-06      East  E-W9-04     E    1b  S6R  NaN   NaN

In [80]:
len(no_level)

209

In [81]:
exclude = [4, "4a", "4b"]
mask = report["phase"].isin(exclude)
report[mask].head()

,setting,elevation,trc,color,phase,bvtc,guid,level
21,AC765-FR-06,East,E-AX15,C,4b,NaN,00814ab3-0317-4d17-9266-b460eb9e7c5d,7
22,AC765-FR-06,East,E-AX16,E,4b,NaN,518d666e-d5f7-4565-87d6-cb68ea69f537,7
23,AC765-FR-06,East,E-AX17,E,4b,NaN,456e7fc4-5cda-456d-ad00-75348a7d9d4a,7
24,AC765-FR-06,East,E-AX18,C,4b,NaN,f4544159-d500-478a-8c72-53c573ce3ef1,7
25,AC765-FR-06,East,E-AX19,E,4b,NaN,abcd284a-8874-45cd-bf0a-3bd42cb69c28,7

In [82]:
len(report[mask])

733

In [83]:
new_scope = report[~mask]

In [84]:
new_scope.head()

,setting,elevation,trc,color,phase,bvtc,guid,level
0,AC765-FR-06,East,E-AE07,B,1,J2E,c7ced094-b6b7-4455-bce5-4d1b65f82a74,10
1,AC765-FR-06,East,E-AG08,F,1,CS5,6b817cdd-0d05-40e8-a512-96d5dd6faf8f,10
2,AC765-FR-06,East,E-AG08b,E,2,CS3,NaN,NaN
3,AC765-FR-06,East,E-AG09,E,1,J2E,e7f3fe88-a132-47bd-a3c7-2000e9b4ef79,10
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,6874e77a-970b-4f8d-9b2b-51b1b0c40429,10

In [85]:
len(new_scope[new_scope.level.isna()])

206

In [86]:
duplicates = new_scope[new_scope.trc.duplicated()]
duplicates.head()

,setting,elevation,trc,color,phase,bvtc,guid,level
182,AC765-FR-15,East,E-DX22,C,1a,H12,a729cc51-ae79-45ef-b34d-fab395a1a8e6,Ground
184,AC765-FR-15,East,E-EB02,B,1,H11,814fee7c-fabb-4de4-ba49-afdb426c87ee,Ground
190,AC765-FR-15,East,E-ED01,A,1,H14,0a693730-5fd4-4f6e-ad03-e1cbffb1733e,Ground
212,AC765-FR-04,North,N-AA01,D,1,Q5B,257a6371-6c57-4860-89de-6af01871d813,10
214,AC765-FR-04,North,N-AA05,D,1,Q28,7e684a7d-7489-4d56-b54c-d0cb1542dbf4,10

In [87]:
no_dup = new_scope[~new_scope.trc.duplicated()]
no_dup.head()

,setting,elevation,trc,color,phase,bvtc,guid,level
0,AC765-FR-06,East,E-AE07,B,1,J2E,c7ced094-b6b7-4455-bce5-4d1b65f82a74,10
1,AC765-FR-06,East,E-AG08,F,1,CS5,6b817cdd-0d05-40e8-a512-96d5dd6faf8f,10
2,AC765-FR-06,East,E-AG08b,E,2,CS3,NaN,NaN
3,AC765-FR-06,East,E-AG09,E,1,J2E,e7f3fe88-a132-47bd-a3c7-2000e9b4ef79,10
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,6874e77a-970b-4f8d-9b2b-51b1b0c40429,10

In [88]:
data = no_dup

In [103]:
seta = data.level.isna()
seta.head()

0    False
1    False
2     True
3    False
4    False
Name: level, dtype: bool

In [106]:
data[~seta].head()

,setting,elevation,trc,color,phase,bvtc,guid,level
0,AC765-FR-06,East,E-AE07,B,1,J2E,c7ced094-b6b7-4455-bce5-4d1b65f82a74,10
1,AC765-FR-06,East,E-AG08,F,1,CS5,6b817cdd-0d05-40e8-a512-96d5dd6faf8f,10
3,AC765-FR-06,East,E-AG09,E,1,J2E,e7f3fe88-a132-47bd-a3c7-2000e9b4ef79,10
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,6874e77a-970b-4f8d-9b2b-51b1b0c40429,10
5,AC765-FR-06,East,E-AM10,E,1,A1J,c6ccc4a1-15d3-48c8-9c5b-926afb4bab13,9

In [116]:
pd.options.mode.chained_assignment = None  # default='warn'
data.loc[seta, "level"] = "A"
data.loc[data["level"] == "Ground", "level"] = "G"
data.loc[data["level"] == "Clock", "level"] = "C"

data.head()

,setting,elevation,trc,color,phase,bvtc,guid,level
0,AC765-FR-06,East,E-AE07,B,1,J2E,c7ced094-b6b7-4455-bce5-4d1b65f82a74,10
1,AC765-FR-06,East,E-AG08,F,1,CS5,6b817cdd-0d05-40e8-a512-96d5dd6faf8f,10
2,AC765-FR-06,East,E-AG08b,E,2,CS3,NaN,A
3,AC765-FR-06,East,E-AG09,E,1,J2E,e7f3fe88-a132-47bd-a3c7-2000e9b4ef79,10
4,AC765-FR-06,East,E-AH09,F,1,CS1LB,6874e77a-970b-4f8d-9b2b-51b1b0c40429,10

In [135]:
data["sort"] = ""
data.loc[data["level"] == 12, "sort"] = 1
data.loc[data["level"] == 11, "sort"] = 2
data.loc[data["level"] == 10, "sort"] = 3
data.loc[data["level"] == 9, "sort"] = 4
data.loc[data["level"] == 7, "sort"] = 5
data.loc[data["level"] == 6, "sort"] = 6
data.loc[data["level"] == 5, "sort"] = 7
data.loc[data["level"] == 4, "sort"] = 8
data.loc[data["level"] == 3, "sort"] = 9
data.loc[data["level"] == 2, "sort"] = 10
data.loc[data["level"] == 1, "sort"] = 11
data.loc[data["level"] == "G", "sort"] = 12
data.loc[data["level"] == "C", "sort"] = 13
data.loc[data["level"] == "A", "sort"] = 14
data = data.sort_values("sort")

In [137]:
data.to_excel(r"V:\Projects\Shell House Building\Documents\Block Production Status\2019-01-23\report2.xlsx")