In [68]:
import pandas as pd
import os

path = r"C:\Users\mkreidler\Desktop\test.xlsx"

df = pd.read_excel(path)

df = df[["Style", "No of Shop Dwgs.", "priority"]]


resources = ["Marian", "Tom"]


df = df.sort_values(["priority", "Style"])
df["resource"] = ""
df.reset_index(inplace=True)


tom = df[df["index"]%2 == 0]

df.loc[df["index"]%2 == 0, "resource"] = "tom"
df.loc[df["index"]%2 != 0, "resource"] = "marian"

df

   index    Style  No of Shop Dwgs.  priority resource
0      4      18R                 1         1      tom
1      1  CBR/J4R                 1         1   marian
2      2      J3R                 1         1      tom
3      5      K3R                 1         1   marian
4      9  Section                 3         1   marian
5      0     A-10                 1         2      tom
6      6      A-9                 1         2      tom
7      7  P23/112                 1         2   marian
8      8  Setting                 2         2      tom
9      3      J2R                 1         3   marian